@import "./theme";
:root {
  --gtheme: dark;
  --font-size: 1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $theme-font-family;
  &::before,
  &::after {
    box-sizing: inherit;
  }
}
html {
  font-size: calc(62.5% * var(--font-size)) !important;
}
body {
  font-family: $theme-font-family;
  font-size: themeFontSize(medium);
  transition: all 0.7s;
}
.logo {
  width: 17rem;
  max-height: 9.5rem;
}
.light {
  $bg-theme-color: #f3f3f5;
  $text-theme-color: #333;

  color: $text-theme-color;
  background-color: $bg-theme-color;
  .logo {
    filter: invert(100%);
  }
}
.dark {
  $bg-theme-color: #333;
  $text-theme-color: #f3f3f5;

  color: $text-theme-color;
  background-color: $bg-theme-color;
  .logo {
    filter: none;
  }
}

.nav-list{
  background-color: themeColor(mainBg);
  padding: themeSpacings(xxsmall);
}

.nav-itens {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  font-size: themeFontSize(medium);
  a{
    color: white;
    text-decoration: none;
  }
}

.cadastro-container{
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: 0 auto;
  h2{
    padding-top: 2.6rem;
    margin-right: 27rem;
  }
}

.cadastro-form{
  input{
    background-color: #f3f3f5;
    color: black;
  }
  .cadastro-input{
    display: flex;
    justify-content: space-between;
  }
}

.card-topicos{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 56px;
  h3{
    margin-right: 50.75rem;
    margin-top: 5rem;
    margin-bottom: 1.2rem;
  }
}

.nx-button{
  margin: 2.06rem auto;
  border: none;
}

.nx-button:hover{
  transform: scale(1.1);
  transition: all 0.5s;
}

.rascunho {
  background-color: red !important;
}